<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="王超的个人网络日志">
    <meta name="author" content="hellowac">

    <title>{{ page.title }}</title>

    <!-- for markdown -->
    <link href="{{ '/assets/css/markdown.css' | relative_url }}" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="{{ '/assets/vendor/bootstrap/css/bootstrap.min.css' | relative_url }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ '/assets/vendor/font-awesome/css/font-awesome.min.css' | relative_url }}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{{ '/assets/css/clean-blog.min.css' | relative_url }}" rel="stylesheet">

    <!-- mycss -->
    <link href="{{ '/assets/css/my.css' | relative_url }}" rel="stylesheet">
</head>
