<header>
    <div class="inner">
        <a href="{{ '/' | absolute_url }}">
            <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        {% if site.github.is_project_page %}
            <a href="{{ site.github.repository_url }}" class="button"><small>View project on</small> GitHub</a>
        {% endif %}
        {% if site.github.is_user_page %}
            <a href="{{ site.github.repository_url }}" class="button"><small>Follow me on</small> GitHub</a>
        {% endif %}
        <nav id="nav">
            <ul>
                <li class="{% if page.nav == 'home' %} active {% else %} deactive {% endif %}">
                    <a href="{{ site.baseurl }}{% link index.md %}">{{ site.nav.home.name }}</a></li>

                <li class="{% if page.nav == 'blog' %} active {% else %} deactive {% endif %}">
                    <a href="{{ site.baseurl }}{% link blog/index.md %}">{{ site.nav.blog.name }}</a></li>

                <li class="{% if page.nav == 'tags' %} active {% else %} deactive {% endif %}">
                    <a href="{{ site.baseurl }}{% link tags/index.md %}">{{ site.nav.tags.name }}</a></li>

                <li class="{% if page.nav == 'project' %} active {% else %} deactive {% endif %}">
                    <a href="{{ site.baseurl }}{% link projects/index.md %}">{{ site.nav.projects.name }}</a></li>

                <li class="{% if page.nav == 'about' %} active {% else %} deactive {% endif %}">
                    <a href="{{ site.baseurl }}{% link about/index.md %}">{{ site.nav.about.name }}</a></li>

                <li class="{% if page.nav == 'refer' %} active {% else %} deactive {% endif %}">
                    <a href="{{ site.baseurl }}{% link refer/index.md %}">{{ site.nav.refer.name }}</a></li>

                <li class="{% if page.nav == 'search' %} active {% else %} deactive {% endif %}">
                    <a href="{{ site.baseurl }}{% link search.md %}">搜索</a></li>
            </ul>
        </nav>
    </div>

</header>
