<nav class="navigation top-bar">
    <div class="top-bar-title">
        <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button class="menu-icon dark" type="button" data-toggle></button>
    </span>
    <strong>Hello Wac</strong>
    </div>
    <div id="responsive-menu">
        <div class="top-bar-left">
            <ul class="menu vertical medium-horizontal" >
                <li>
                <a href="{{ site.baseurl }}/">主页</a>
            </li>
            {% for page in site.pages %} {% if page.nav %}
            <li>
                <a href="{{ page.url | prepend: site.baseurl }}">{{ page.nav }}</a>
            </li>
            {% endif %} {% endfor %}
            </ul>
        </div>
    </div>
</nav>
