#nav {

}

#nav ul {
    text-align: left;
    font-weight: bold;
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    padding-left: inherit;
}

#nav ul li{
    display: inline;
    padding-right: 1em;
}

#nav li a{
    color: black;
}

#nav li a:hover{
    color: white;
}

#nav li.active a{
    color: white;
}